@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
    width: 0.4rem;
}
::-webkit-scrollbar-thumb{
    background: #ffffff1f;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
    transition: 1s;
}
::-webkit-scrollbar-track {
    background:linear-gradient(to bottom, rgb(68, 0, 0), rgb(36, 0, 0)) ;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(100, 0, 0);
    transition: 1s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to left, rgb(10, 0, 0), rgb(30, 0, 0));
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#logo{
    margin-top: 2%;
    margin-left: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.70s;
    mix-blend-mode: screen;
}
#logo:hover{
    transform: scale(1.05);
    transition: 0.35s;
}
.nav-bar{
    justify-content: space-around;
    align-items: center;
}
.nav-bar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 50%;
}
.nav-bar li{
    padding-right: 10%;
}
.nav-bar li a{
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.nav-bar li a:hover{
    color: rgb(143, 42, 42);
    font-weight: 600;
    transition: 0.5s;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(30, 0, 0, 0.9), rgba(10, 0, 0, 0.9)), url("img/iron-maiden.png");
    background-color: black;
    background-position: center center;
    background-size: contain;
    background-position-y: 0px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    
}
.inicio-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#inicio{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
    justify-content: center;
    align-items: center;
}
#btn-ler-mais{
    display: none;
}
.inicio-container{
    width: 60%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1%;
    margin-left: 25%;
    margin-right: 25%;
    
    background: linear-gradient(to right, rgba(20, 0, 0, 0.95), rgba(20, 0, 0, 0.95)), url("img/background.jpg");
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
    border-radius: 20rem;
    transition: 0.8s;
}

.inicio-container h1{
    padding: 2%;
    font-size: 300%;
    font-weight: 100;
}
.inicio-container p{
    text-align: justify;
    letter-spacing: 0.05rem;
    align-items: left;
    padding: 1%;
    margin-right: 2%;
    margin-left: 3%;
    font-size: 90%;
    font-weight: 300;   
}

.inicio-container:hover
{
    transform: scale(1.1);
    transition: 0.5s;
    height: 30vh;
    #btn-ler-mais{
        font-family: Raleway, sans-serif;
        text-transform: uppercase;
        font-size: 50%;
        letter-spacing: 0.15rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0%;
        margin-right: 5%;
        width: 50%;
        height: 6vh;
        border: solid 1px white;
        background-color: transparent;
        border-radius: 10rem;
        color: white;
        transition: 1s;
        cursor: pointer;
        transition: 0.35s;
    }
    #btn-ler-mais:hover{
        background-color: white;
        color: black;
        transition: 0.35s;
    }
}

.biografia-content{
    background-color: black;
    background: linear-gradient(to right, rgba(20, 0, 0, 0.95), rgba(20, 0, 0, 0.95)), url("img/biografia.jpg");
    background-position: center center;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.biografia-container{
    display: flex;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(10, 0, 0, 0.2);
    border-radius: 2rem 1rem 1rem 2rem;
    transition: 1s;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.4);
}
.biografia-container:hover{
    background-color: rgba(10, 0, 0, 0.4);
    transform: scale(1.1);
    transition: 0.35s;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.8);
}

.biografia-container img{
    width: 36%;
    height: 25%;
    border-radius: 2rem 0 0 2rem;
    object-fit: cover;
    object-position: center;
}
.biografia-description{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discografia-content{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom,rgba(30,0,0,0.95), rgba(10,0,0,0.95)), url("img/background.jpg");
}
#discografia{
    display: flex;
}
.discografia-container{
    margin-top: 10%;
    width: 22.5%;
    border-radius: 2rem;
    padding: 2%;
    margin-left: 2%;
}
.music-info{
    margin-left: 1%;
    margin-top: 5%;
}
.music-info h2{
    font-size: 120%;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 2%;
}
.music-info h3{
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.music-btn-div
{
    width: 25%;
    margin-top: 2%;
    height: 2.5vh;
    background-color: rgba(0, 0, 0, 0);
}
.music-info button{
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-radius: 5rem;
    background-color: transparent;
    color: white;
    font-family: Raleway, sans-serif;
    padding: 5%;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    font-size: 60%;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.music-player{
    padding: 20px;
}
.music-player img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    filter: brightness(0.9);
    margin-bottom: 3%;
}
.play-btn{
    font-family: Raleway, sans-serif;
    border: solid 1px white;
    border-radius: 5rem;
    background-color: transparent;
    color: white;
    
    padding: 5%;
    width: 50%;
    margin-top: 20%;
    margin-left: 25%;
    font-size: 80%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
}
.play-btn:hover{
    background-color: white;
    color: black;
    transition: 0.35s;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.425);
}



#senjutsu{
    background: linear-gradient(45deg,rgb(19, 1, 1), rgba(66, 0, 0, 0.2));
}
#fear_of_the_dark{
    background: linear-gradient(45deg,rgb(3, 3, 29), rgba(5,0,0,0.2));
}
#powerslave{
    background: linear-gradient(45deg,rgb(34, 21, 2), rgba(10,10,0,0.2));
}
#piece_of_mind{
    background: linear-gradient(45deg,rgb(41, 38, 2), rgba(0,0,0,0.2));
}


footer{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, #160404,#0f0606);
    color: white;
    padding: 0.8rem;
}

.redes-sociais, .plataformas, .copyright{
    flex: 1;
    padding: 0.5rem;
    text-align: center;
}
.copyright{
    margin-top: 3%;
    font-size: 90%;
    
}
.copyright a{
    color: rgb(156, 44, 24);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 93%;
    padding: 0.5%;
    transition: 1s;
}
.copyright a:hover{
    color: rgb(143, 42, 42);
    font-weight: 900;
    transition: 0.5s;
    font-size: 90%;
}
footer h1{
    color: rgb(156, 44, 24);
    font-size: 105%;
    letter-spacing: 0.05rem;
    padding-bottom: 0.5%;
    text-transform: uppercase;
    font-weight: 800;
}
footer ul{
    font-size: 90%;
    list-style-type: none;
    padding: 0;
}
footer li{
    margin: 0.5rem 0;
}
footer a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
footer a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 98%;
    transition: 0.35s;
}

@media screen and (max-width: 856px) {
    #logo {
        display: none; /* Oculta o elemento em telas menores que 768px de largura */
    }
}